from telegram.ext import Updater, CommandHandler, MessageHandler, Filters
from telegram import ChatPermissions

TOKEN = 'YOUR_TELEGRAM_BOT_API_TOKEN'  #7701101261:AAGQcU74I38WPBm6kR9KWk774yP1OOBCy7U

def start(update, context):
    update.message.reply_text('مرحبًا! أنا بوت تيليجرام الخاص بك.')

def restrict_user(update, context):
    chat_id = update.message.chat_id
    user_id = update.message.from_user.id
    text = update.message.text

    if not text.isdigit():
        context.bot.restrict_chat_member(
            chat_id=chat_id,
            user_id=user_id,
            permissions=ChatPermissions(can_send_messages=False),
            until_date=None
        )
        update.message.reply_text(f'تم تقييد المستخدم {update.message.from_user.username} بسبب كتابة الكلمات.')

def main():
    updater = Updater(TOKEN, use_context=True)
    dp = updater.dispatcher

    dp.add_handler(CommandHandler('start', start))
    dp.add_handler(MessageHandler(Filters.text & ~Filters.regex(r'^\d+$'), restrict_user))

    updater.start_polling()
    updater.idle()

if name == '__main__':
    main()
